body{
    background-color:#e2e2e2;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;  
}


/* card  */
.submit{
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:20px;
}
.submit>input{
    height:40px;
    background-color: gray;
    border:none;
    border-radius: 10px;
    padding:10px;
    width:500px;
    color:white;
    font-size: 12px;
    
}
::placeholder { 
    color: white;
    font-weight: bolder;
    font-size: 12px;
}

button{
    height:40px;
    color:white;
    font-weight: bolder;
    width:100px;
    border-radius: 50px;
    background-color: #002b51;
    margin-left:10px;
    border:none;
    cursor: pointer;
}
.cards{
    max-width:1440px;
    border-top:5px solid #002b51;
    border-bottom:5px solid #002b51;
    margin:0 auto;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}
.single-card{
    margin:10px;
    width: 250px;
    display:flex;
    align-items: center;
    flex-direction: column;
    background-color: #fffcfc;
    font-weight: bolder;
    padding:10px;
}
.single-card >p {
    color:#002b51;
    margin:5px;
    width:50%;
    text-align: center;
}
.single-card>img{
    max-height:350px;
}
.noresult > p{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}