body{
    background-color:#e2e2e2;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;  
}
nav {
    background-color: #fffcfc;
    margin:0 auto;
}
nav ul{
    padding:20px 10px;
    max-width:1440px;
    margin:0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    display:inline;
    
    list-style-type: none;
}
nav ul li a{
    padding:20px 10px;
    text-decoration: none;
    font-weight: bolder;
    color:#3d3d3d;
}
nav ul li a:hover{
    background-color: #f44b42;
    color:#fffcfc;
}
.hero{
    max-width:1400px;
    background-color: #f44b42;
    height:700px;
    margin:0 auto;
    overflow: hidden;
}
.hero > img{
object-fit: contain;
}

/* card  */
.submit{
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:20px;
}
.submit>input{
    height:40px;
    background-color: gray;
    border:none;
    border-radius: 10px;
    padding:10px;
    width:500px;
    color:white;
    font-size: 12px;
    
}
::placeholder { 
    color: white;
    font-weight: bolder;
    font-size: 12px;
}

button{
    height:40px;
    color:white;
    font-weight: bolder;
    width:100px;
    border-radius: 50px;
    background-color: #f44b42;
    margin-left:10px;
    border:none;
    cursor: pointer;
}
.cards{
    width:1440px;
    border-top:5px solid #f44b42;
    border-bottom:5px solid #f44b42;
    margin:0 auto;
    display: none;
    flex-wrap: wrap;
}
.single-card{
    
    margin:20px;
    display:flex;
    align-items: center;
    flex-direction: column;
    background-color: #fffcfc;
    font-weight: bolder;
    padding:10px;
}
.single-card >p {

}
.single-card>img{
    max-height: 330px;
    width:auto;
}