<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Vue JS</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

				
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	
	<div id="app" >
		<nav>
			<ul>
				<li>
					<a href="">home</a>
				</li>
				<li>
					<a href="">movies</a>
				</li>
				<li>
					<a href="">tv series</a>
				</li>
				<li>
						<a href="">cartoons</a>
					</li>
			</ul>
		</nav>
		<div class="submit">
			<input v-model="item" @click="spread" type="search" placeholder="Search movie here">
			<button @click="search"> Search</button>
		</div>
		
		<div class="results" v-for="result in results">
		{{result.Title}}
		{{result[1].Title}}

	


		</div>

		
		
		<div v-if="searching">
			<p>Searching...</p>
		</div>
			
	</div>

	<script src="https://unpkg.com/vue"></script>
	<script src="scripts/app.js"></script>
</body>
</html>